/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 2% 5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-size: 2.2rem;
}
header {
  width: 100%;
  background: #0f4c75;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
}
header nav {
  width: 30%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media (max-width: 1300px) {
  header nav {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  header nav {
    width: 50%;
  }
}
@media (max-width: 750px) {
  header nav {
    width: 60%;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 95%;
    padding-bottom: 10%;
    margin: 10% 2.5% 0;
  }
}
header nav a {
  font-size: 2.2rem;
  color: white;
}
header nav a:hover {
  color: #bbe1fa;
}
header img {
  width: 50%;
  padding: 5%;
}
@media (max-width: 500px) {
  header img {
    padding: 0;
    margin: 2% 30%;
    width: 40%;
  }
}
.mainBody {
  text-align: center;
  margin-top: 2%;
}
.mainBody h2 {
  margin-bottom: 2%;
}
@media (max-width: 600px) {
  .mainBody {
    width: 60%;
    margin: 0 20%;
  }
}
.mainBody form {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 1.6rem;
  width: 80%;
  margin: 0 10%;
}
@media (max-width: 600px) {
  .mainBody form {
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
  }
}
.mainBody form input {
  border: 1px solid black;
}
.mainBody form textarea {
  border: 1px solid black;
}
footer {
  background: #0f4c75;
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 15vh;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 20%;
}
@media (max-width: 1600px) {
  footer nav {
    width: 25%;
  }
}
@media (max-width: 1300px) {
  footer nav {
    width: 30%;
  }
}
@media (max-width: 800px) {
  footer nav {
    width: 40%;
  }
}
@media (max-width: 600px) {
  footer nav {
    width: 60%;
  }
}
footer nav a {
  align-self: center;
  color: white;
}
footer nav a:hover {
  color: #bbe1fa;
}
