.mainSection {
    margin-top: 2%;
    .banner {
        .flexIn(column, center, center);
        img {
            width: 80%;
            margin: 0 10%;
            height: auto;
        }

        a {
            .customButton(#bbe1fa, 10%, @darkest);
            position: absolute;
            margin: 20% 40%;
        }

        h2 {
            text-align: center;
            width: 60%;
            align-self: center;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            color: #0f4c75;
        }
    }
    span {
        font-size: 3.2rem;
        text-decoration: underline;
        font-weight: bold;
    }

}